html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #e4e4ff;
}
/*.card-body{
    background: red;
}*/
@media (min-width: 992px) .mt-lg-n11 {
    margin-top: -21rem;
}

@media (min-width: 992px) .mt-lg-n11 {
    margin-top: -20rem;
}
@media (min-width: 768px) .mt-md-n11 {
    margin-top: -20rem !important;
}
.hover-el:hover{
    text-decoration: underline;
    
}